executing==2.2.0
jupyter==1.0.0
jupyter-events==0.11.0
jupyter-lsp==2.2.5
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab_pygments==0.3.0
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
kiwisolver==1.4.7
Markdown @ file:///croot/markdown_1671541909495/work
MarkupSafe==3.0.2
mistune==3.1.0
ml_dtypes @ file:///croot/ml_dtypes_1734018890293/work
multidict @ file:///croot/multidict_1730905498140/work
nbclient @ file:///croot/nbclient_1698934205032/work
notebook==7.3.2
notebook_shim==0.2.4
numpy==1.23.5
oauthlib @ file:///croot/oauthlib_1679489621486/work
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
overrides==7.7.0
pandocfilters==1.5.1
prometheus_client==0.21.1
propcache @ file:///croot/propcache_1732303986938/work
protobuf==3.20.3
pyasn1-modules==0.2.8
pycparser==2.22
PyJWT @ file:///croot/pyjwt_1736178889029/work
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
python-dateutil==2.9.0.post0
pytz==2024.2
QtPy==2.4.2
referencing==0.36.1
requests-oauthlib @ file:///croot/requests-oauthlib_1720615017878/work
rpds-py==0.22.3
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
scipy==1.10.1
Send2Trash==1.8.3
sniffio==1.3.1
soupsieve==2.6
tensorboard-plugin-wit @ file:///home/builder/tkoch/workspace/tensorflow/tensorboard-plugin-wit_1658918494740/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
tensorboard_data_server @ file:///croot/tensorboard-data-server_1724172556187/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl#sha256=79c85cfe2c0cdd115b61609d332d372681e5dac49d438683075d957adc2048f1
termcolor @ file:///croot/termcolor_1668084651543/work
terminado==0.18.1
tinycss2==1.4.0
tomli==2.2.1
tzdata==2025.1
webencodings==0.5.1
Werkzeug @ file:///croot/werkzeug_1737448706492/work
wrapt @ file:///croot/wrapt_1736540904746/work
yarl @ file:///croot/yarl_1732546845924/work
